<div class="profile-container">
    <div class="avatar">
        <img src="" alt="">
    </div>
    <div class="row">
        <div class="label">MSSV</div>
        <div class="value">{{student.studentNumber}}</div>
    </div>
    <div class="row">
        <div class="label">Họ & Tên</div>
        <div class="value">{{student.firstName}} {{student.lastName}}</div>
    </div>
    <div class="row">
        <div class="label">Email</div>
        <div class="value">{{student.email}}</div>
    </div>
</div>
